@*@page "/"*@
@page "/home/{Id:int}"

<PageTitle>Home</PageTitle>

<MudGrid>
    <MudItem xs="2" md="2" lg="2">
        <MudPaper Height="800px" Class="py-3" Elevation="0">
            <MudNavMenu>
                <MudText Typo="Typo.h6" Class="px-4">Chat Rooms</MudText>
                <MudDivider Class="my-2" />
                <MudNavLink Href="/home">General Chat</MudNavLink>
            </MudNavMenu>
        </MudPaper>
    </MudItem>
    <MudItem xs="10" md="10" lg="10">
        <MudPaper Class="pa-6 ma-2" Style="height: stretch; width: stretch;">
            <MudGrid>
                <MudItem xs="10" md="10" lg="10" Class="d-flex">
                    <MudGrid>
                        <MudItem xs="12" md="12" lg="12">
                            <MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Style="height:600px; width: stretch;">
                                <thead>
                                    <tr>
                                        <th>General Chat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var message in messages)
                                    {
                                        <tr>
                                            <td>@message</td>
                                        </tr>
                                    }
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                        <MudItem xs="12" md="12" lg="12">
                            <MudItem xs="12" md="12" lg="12">
                                <MudTextField @bind-Value="messageInput" Variant="Variant.Outlined" Placeholder="Message to chat" />
                            </MudItem>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="2" md="2" lg="2" Class="d-flex align-end">
                    <MudButton Variant="Variant.Filled" Disabled="!IsConnected" OnClick="Send" Size="Size.Medium" Class="py-4 d-flex flex-1">Send</MudButton>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>
</MudGrid>


